.error-container {
    margin-top: 30px;
}

.error-btn {
    background-color: sandybrown;
    padding: 13px 20px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
}

.error-btn:hover {
    background-color: rgb(133, 240, 240);
    color: red;
}

.error-container img {
    margin: 0 auto;
}