.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.home-header {
    margin-left: 200px;
    margin-bottom: 150px;
    color: red;
    margin-top: 50px;
}

.home-header h1 {
    font-size: 47px;
    font-weight: 500;
}

.home-header p {
    margin-top: 20px;
    color: black;
    font-weight: 500;
}

.buy-now-btn {
    background-color: rgb(239, 58, 58);
    color: aliceblue;
    padding: 15px 70px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    margin-top: 15px;
}

.buy-now-btn:hover {
    background-color: rgb(160, 237, 237);
    color: brown;
}

.home-page-img {
    margin-bottom: 40px;
    margin-right: 50px;
}

.home-page-img img {
    width: 100%;
    border-radius: 10px;
}

.customer-review {
    font-size: 45px;
    color: red;
    font-weight: 500;
}